# Analyzing the cases of dengue in Brazil.

First of all let's import some libraries.

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline
plt.rcParams["figure.figsize"] = (8, 6)

import warnings
warnings.filterwarnings('ignore')

# Setting the float precision to 2 decimal places.

pd.set_option("precision", 2)
pd.options.display.float_format = '{:.2f}'.format

### Reading the excel file

In [7]:
df = pd.read_excel('/DENGUE_SSBI.xlsx')

### First glances on the dataset

In [10]:
df.describe()

       TEMPO_ANO  QTD_CASOS
count     650.00     650.00
mean     2002.00   14179.98
std         7.22   34076.37
min      1990.00       0.00
25%      1996.00     186.75
50%      2002.00    3495.00
75%      2008.00   12515.25
max      2014.00  416252.00

In [11]:
df.head()

   TEMPO_ANO    ESTADO        REGIAO    PAIS  QTD_CASOS
0       1990  Rondônia  Região Norte  Brasil          0
1       1991  Rondônia  Região Norte  Brasil          0
2       1992  Rondônia  Região Norte  Brasil          0
3       1993  Rondônia  Região Norte  Brasil          0
4       1994  Rondônia  Região Norte  Brasil          0